* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Roboto;
}

.nav {
  background-color: #181818;
  width: 100%;
}

.nav-list {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 28px;
}

.nav-list a {
  color: #ddd;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
}

.nav-list a:hover {
  color: #ffffff;
}

.main {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(images/programador.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1 {
  color: #ffffff;
  font-size: 54px;
}

.main p {
  color: #1e96fc;
  font-size: 24px;
  font-style: italic;
  margin-block: 10px 24px;
}

main a {
  text-decoration: none;
  color: #181818;
}

.call-to-action {
  cursor: pointer;
  padding: 14px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
}

.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
}

.about div{
  margin-right: 40px;
  max-width: 50%;
}
.about h2{
  font-size: 32px;
  margin-bottom: 14px;
}
.about img{
  max-width: 450px;
  min-width: 50px;
  border-radius: 8px;
}