* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Roboto;
}

.nav {
  background-color: #181818;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9;
}

.nav-list {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 28px;
  list-style: none;
}

.nav-list a {
  color: #ddd;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  transition: .5s;
}

.nav-list a:hover {
  color: #ffffff;
}

.main {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url(images/programador.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  padding-left: 10%;
}

.main h1 {
  color: #ffffff;
  font-size: 54px;
}

.main p {
  color: #1e96fc;
  font-size: 24px;
  font-style: italic;
  margin-block: 10px 24px;
}

main a {
  text-decoration: none;
  color: #181818;
}

.call-to-action {
  cursor: pointer;
  padding: 14px;
  border: none;
  font-size: 18px;
  border-radius: 4px;
  color: #181818;
  transition: .9s;
}

.call-to-action:hover{
  transform: scale(1.05);
}

.about {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10%;
}

.about div {
  margin-right: 40px;
  max-width: 50%;
}

.about h2 {
  font-size: 32px;
  margin-bottom: 14px;
}

.about img {
  max-width: 450px;
  min-width: 50px;
  border-radius: 8px;
}

.projects {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 80px 10%;
}

.projects h2 {
  font-size: 32px;
  margin-bottom: 6px;
}

.projects p {
  font-style: italic;
  margin-bottom: 18px;
}

.projects-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.projects-list img {
  width: 22%;
  margin: .5%;
  opacity: 0.8;
  transition: 0.9s;
}

.projects-list img:hover {
  opacity: 1;
}

.action {
  background-color: #181818;
  color: #ddd;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 10px 28px;
  margin-top: 14px;
  font-size: 18px;
  transition: .9s;
}

.action:hover {
  color: #ffffff;
}

footer {
  padding-block: 70px;
  background-color: #181818;
  color: #ffffff;
  display: flex;
  justify-content: center;
  font-size: 14px;
}

@media (max-width: 894px){
  .about{
    flex-direction: column;
    justify-content: center;
  }
  .about div{
    max-width: 75%;
    margin-inline: auto;
  }
  .about img{
    max-width: 70%;
    margin-top: 14px;
  }
  .projects-list img{
    width: 38%;
  }
}

@media(max-width: 645px){
  .nav-list{
    justify-content: center;
  }
  .main{
    padding-left: 0;
    justify-content: center;
  }
  .main div{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main h1{
    text-align: center;
    font-size: 42px;
  }
  .main a{
    text-align: center;
  }
}